<div>
    <form action="">
        <input type="hidden" name="done" id="done" value="">
        <button>Done/NotDone</button>
    </form>
</div>

<form action="">
    <input type="text" name="" id="" value="">
    <button>Save</button>
</form>

<form action="">
    <button>Delete</button>
</form>