<script>
    import TodoItem from "$lib/todo-item.svelte";

    const title = "ToDos"
</script>

<svelte:head>
    <title>{title}</title>
</svelte:head>

<h1>{title} App</h1>

<form action="">
    <input type="text" name="" id="" placeholder="+ Add a To Do">
</form>

<TodoItem/>
